.guitar-option {
  display: none;
}

form {
  display: flex;
  flex: 1 0 300px;
  flex-direction: column;
  height: auto;
  background: #ffffff;
  padding: 10px 30px;
  border: 1px solid $grey-shade;
  border-radius: 5px;
  margin-left: 3%;
  h3 {
    @include primaryFont(16);
    margin: 20px 0;
  }
  .play-options {
    margin: 20px 0;
  }
}

.guitar-btn,
.play-options {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

select {
  @include secondaryFont(16);
  padding: 10px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid $grey-shade;
  width: 100%;
  background-image: url("../../../assets/images/guitar-pick.png");
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: 95% center;
  &:hover,
  &:focus {
    border: 2px solid $accent;
  }
}

.label {
  @include secondaryFont(16);
  &--guitar-type {
    padding-bottom: 20px;
    border: 1px solid $grey-shade;
    text-align: center;
    &:hover {
      border: 2px solid $accent;
      cursor: pointer;
    }
  }
}

@media (max-width: 840px) {
  form {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 10px 0 0 0;
    z-index: 10;
  }

  .open-settings {
    display: block;
  }
}

