.six-string,
.seven-string {
  display: none;
}

.guitar {
  text-align: center;
  max-width: 600px;
  width: 100%;
}

.strings {
  @include primaryFont(18);
  font-weight: bold;
  display: flex;
  border: 2px solid $grey-shade;
}

.string {
  height: calc(93vh - 115.5px);
  flex-grow: 1;
  background-size: cover;
  border: none;
  color: $white-shade;
  text-shadow: 0px 5px 2px rgba(0,0,0,1),
                0px -5px 2px rgba(0,0,0,1),
                5px 0px 2px rgba(0,0,0,1),
                -5px 0px 2px rgba(0,0,0,1),
                0px 2px 1px rgba(0,0,0,1),
                0px -2px 1px rgba(0,0,0,1),
                2px 0px 1px rgba(0,0,0,1),
                -2px 0px 1px rgba(0,0,0,1),
                0px 10px 5px rgba(0,0,0,1),
                0px -10px 5px rgba(0,0,0,1),
                10px 0px 5px rgba(0,0,0,1),
                -10px 0px 5px rgba(0,0,0,1);
  &:hover, &:focus {
    transform: scale(1.05);
    box-shadow: -5px -5px 20px rgba($accent, 0.5),
                5px 5px 20px rgba($accent, 0.5);
    border: 2px solid rgba($accent, 0.7);
    text-shadow: rgba($accent, 0.8);
  
  }
}
.string1 {
  background: url("../../../assets/images/string1.jpg") center;
  background-size: cover;
}
.string2 {
  background: url("../../../assets/images/string2.jpg") center;
  background-size: cover;
}
.string3 {
  background: url("../../../assets/images/string3.jpg") center;
  background-size: cover;
}
.string4 {
  background: url("../../../assets/images/string4.jpg") center;
  background-size: cover;
}
.string5 {
  background: url("../../../assets/images/string5.jpg") center;
  background-size: cover;
}
.string6 {
  background: url("../../../assets/images/string6.jpg") center;
  background-size: cover;
}
.string7 {
  background: url("../../../assets/images/string7.jpg") center;
  background-size: cover;
}

