$black-shade: #171717;
$white-shade: #FAFAFA;
$grey-shade: #E0E0E0;
$accent: #f38d8d;


@mixin primaryFont($size) {
    font-family: 'Roboto Condensed', Sans-Serif;
    color: $black-shade;
    font-size: $size * 1px;
    font-size: ($size / 10) * 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

@mixin secondaryFont($size) {
    font-family: 'Cabin', Sans-Serif;
    color: $black-shade;
    font-size: $size * 1px;
    font-size: ($size / 10) * 1rem;
    line-height: 32px;
}

body {
  background: #FAFAFA;
}


.wrapper {
  max-width: 1000px;
  width: 95%;
  margin: 0 auto;
}

.app {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  height: calc(100vh - 115.5px);
 
}



