$black-shade: #171717;
$white-shade: #fafafa;
$grey-shade: #e0e0e0;
$accent: #0090d2;

@mixin primaryFont($size) {
  font-family: "Roboto Condensed", Sans-Serif;
  color: $black-shade;
  font-size: $size * 1px;
  font-size: ($size / 10) * 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

@mixin secondaryFont($size) {
  font-family: "Cabin", Sans-Serif;
  color: $black-shade;
  font-size: $size * 1px;
  font-size: ($size / 10) * 1rem;
  line-height: 32px;
}

body {
  background: #fafafa;
}

.wrapper {
  max-width: 1000px;
  width: 95%;
  margin: 0 auto;
}

.app {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  height: calc(100vh - 115.5px);
  position: relative;
}

button {
  border: none;
  background: none;
  padding: 0;
}

@media (max-width: 840px) {
  .app {
    justify-content: center;
  }
}
