article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0;
  width: 100%; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black; }

.skip-link:focus {
  left: 0; }

html {
  font-size: 62.5%; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0; }

body {
  background: #FAFAFA; }

.wrapper {
  max-width: 1000px;
  width: 95%;
  margin: 0 auto; }

.app {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  height: calc(100vh - 115.5px); }

.header-logo {
  display: flex;
  align-items: center;
  margin-top: 25px; }

h1 {
  font-family: 'Roboto Condensed', Sans-Serif;
  color: #171717;
  font-size: 35px;
  font-size: 3.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-top: 20px;
  margin: 0; }

p {
  font-family: 'Cabin', Sans-Serif;
  color: #171717;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 32px;
  line-height: 1; }

.logo {
  width: 80px; }

.guitar-option {
  display: none; }

form {
  display: flex;
  flex: 1 0 300px;
  flex-direction: column;
  height: auto;
  background: #ffffff;
  padding: 10px 30px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  margin-left: 3%; }
  form h3 {
    font-family: 'Roboto Condensed', Sans-Serif;
    color: #171717;
    font-size: 16px;
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 20px 0; }
  form .play-options {
    margin: 20px 0; }

.guitar-btn,
.play-options {
  display: flex;
  justify-content: space-between;
  width: 100%; }

select {
  font-family: 'Cabin', Sans-Serif;
  color: #171717;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 32px;
  padding: 10px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid #e0e0e0;
  width: 100%;
  background-image: url("../../../assets/images/guitar-pick.png");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 97% center; }

.label {
  font-family: 'Cabin', Sans-Serif;
  color: #171717;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 32px; }
  .label--guitar-type {
    padding-bottom: 18px;
    border: 1px solid #e0e0e0;
    text-align: center; }
    .label--guitar-type:hover, .label--guitar-type:focus, .label--guitar-type:checked + label {
      background: #f38d8d; }
    .label--guitar-type:hover {
      cursor: pointer; }

.six-string,
.seven-string {
  display: none; }

.guitar {
  text-align: center;
  max-width: 600px;
  width: 100%; }

.strings {
  font-family: 'Roboto Condensed', Sans-Serif;
  color: #171717;
  font-size: 18px;
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: flex; }

.string {
  height: calc(93vh - 115.5px);
  flex-grow: 1;
  background-size: cover;
  border: none;
  color: #fafafa; }
  .string:hover, .string:focus {
    transform: scale(1.05);
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.3), 5px 5px 4px rgba(0, 0, 0, 0.6);
    cursor: pointer; }

.string1 {
  background: url("../../../assets/images/piece1.jpg") center;
  background-size: cover; }

.string2 {
  background: url("../../../assets/images/piece2.jpg") center;
  background-size: cover; }

.string3 {
  background: url("../../../assets/images/piece3.jpg") center;
  background-size: cover; }

.string4 {
  background: url("../../../assets/images/piece4.jpg") center;
  background-size: cover; }

.string5 {
  background: url("../../../assets/images/piece5.jpg") center;
  background-size: cover; }

.string6 {
  background: url("../../../assets/images/piece6.jpg") center;
  background-size: cover; }

.string7 {
  background: url("../../../assets/images/piece7.jpg") center;
  background-size: cover; }
